*/build/*
*/.idea/*
*/cmake-build-debug/*
_workspace/Find*
_workspace/conanbuildinfo.cmake
_workspace/conanbuildinfo.txt
_workspace/conaninfo.txt
_workspace/conanworkspace.cmake
_workspace/graph_info.json
_workspace/CMakeLists.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
