<?xml version="1.0" encoding="utf-8" ?>
<board id="{{ id }}" name="{{ name }}">
    <tilesets>
        {% for name, path in tilesets.items() %}
        <tileset id="{{ name }}">{{ path }}</tileset>
        {% endfor %}
    </tilesets>
    
    <!-- 
        <geometry>square</geometry>
        <size x="26" y="19"/>
    -->
    <size units="200" width="26" height="19"/>
    
    <layouts>
        <layout id="base" tileset="dungeon">layout/board.xml</layout>
        <layout id="walls" tileset="dungeon">layout/board.xml</layout>
    </layouts>

</board>
